@page "/Employees/Update/{EmployeeID:int}"
@inject IEmployeeRepository ER
@attribute [Authorize(Roles = "Manager")]

@code {
    [Parameter]
    public int EmployeeID { get; set; }

    Employee EmployeeModel { get; set; }
    List<string> Countries { get; set; }
    string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        EmployeeModel = ER.SelectByID(EmployeeID);
        Countries = ER.SelectCountries();
    }

    private void OnSaveClick()
    {
        ER.Update(EmployeeModel);
        Message = "Employee Updated Successfully";
    }
}

<h2>Update Employee</h2>
<h3 class="message">@Message</h3>

<EditForm Model="EmployeeModel" OnValidSubmit="OnSaveClick">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <table border="0" cellpadding="10">
        <tr>
            <td>
                <label class="right">Employee ID</label>
            </td>
            <td>@EmployeeModel.EmployeeID</td>
        </tr>
        <tr>
            <td class="right">
                <label for="FirstName">First Name</label>
            </td>
            <td>
                <InputText id="FirstName" @bind-Value="EmployeeModel.FirstName"></InputText>
                <ValidationMessage For="()=>(EmployeeModel.FirstName)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="LastName">Last Name</label>
            </td>
            <td>
                <InputText id="LastName" @bind-Value="EmployeeModel.LastName"></InputText>
                <ValidationMessage For="()=>(EmployeeModel.LastName)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Title">Title</label>
            </td>
            <td>
                <InputText id="Title" @bind-Value="EmployeeModel.Title"></InputText>
                <ValidationMessage For="()=>(EmployeeModel.Title)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="BirthDate">Birth Date</label>
            </td>
            <td>
                <InputDate id="BirthDate" @bind-Value="EmployeeModel.BirthDate"></InputDate>
                <ValidationMessage For="()=>(EmployeeModel.BirthDate)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="HireDate">Hire Date</label>
            </td>
            <td>
                <InputDate id="HireDate" @bind-Value="EmployeeModel.HireDate"></InputDate>
                <ValidationMessage For="()=>(EmployeeModel.HireDate)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="rigth">
                <label for="Country">Country</label>
            </td>
            <td>
                <InputSelect id="Country" @bind-Value="EmployeeModel.Country">
                    <option value="">Please Select</option>
                    @if (Countries != null)
                    {
                        foreach (var c in Countries)
                        {
                            <option value="@c">@c</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="()=>(EmployeeModel.Country)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label for="Notes">Notes</label>
            </td>
            <td>
                <InputTextArea id="Notes" @bind-Value="EmployeeModel.Notes"></InputTextArea>
                <ValidationMessage For="()=>(EmployeeModel.Notes)"></ValidationMessage>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</EditForm>

<br />
<a href="/employees/list">Back to Employee Listing</a>
